@charset "UTF-8";

:root{
  /* Cores */
  --cor-body:#0b0f19;
  --cor-header:#111622;
  --verde-primario: #10b981;
  --hover-primario: #059669;
  --cor-badge: #4b5563;
  --liberado: #babbbb;
  --borda-liberado: background: rgba(16, 185, 129, 0.2);
  --negado: background: rgba(239, 68, 68, 0.2);
  --borda-negado: #ef4444;
  --tabela: #1f2937;
  --tabela-grade: #374151;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,p{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
  background-color: #0b0f19;
}

.menu-bg{
  background-color: #111622;
}

.menu{
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo{
  flex: 1;
  font-size: 1.8em;
  font-weight: bold;
  color: #10b981;
  margin-bottom: 5px;
}

.nav-container ul{
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-container a{
  background-color: #10b981;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.5s ease;
}

.nav-container a:hover{
  background-color: #059669;
}

.container{
  background-color: #111622;
  max-width: 960px;
  margin: 20px auto;
  padding: 0 15px;
  border-radius: 10px;
}

.info{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 1px solid #4b5563;
}

.info-texto h2{
  font-size: 1.5em;
  color: #babbbb;
  margin-bottom: 5px;
}

.info-texto p{
  font-size: 1.1em;
  color: #10b981;
  margin-bottom: 5px;
}

.online{
  font-weight: bold;
  color: #10b981;
}

.painel{
  display: flex;
}













footer{
  background-color: #111622;
  text-align: center;
}

footer span{
  color: #10b981;
  font-size: 1.3em;
  font-weight: bold;
}

footer p{
  font-size: 1.2em;
  color: #babbbb;
}